@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    #51e2f5 23.8%,
    #9df9ef 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  z-index: 0;
}

.night {
  animation: bg;
  animation-fill-mode: forwards;
}

@keyframes bg{
  from {background-image: linear-gradient(
    0deg,
    #51e2f5 23.8%,
    #9df9ef 92%
  )}
  to {background-image: linear-gradient(
    0deg,
    #d4f805 23.8%,
    #e9eb74 92%
  );}
}

.submit-para {
  position: relative;
  top: 0px;
  left: 130px;
  margin: 0;
}

@keyframes myAnimation{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

.title {
  align-self: center;
  position: relative;
}

.form {
  opacity: 1;
  position: absolute;
  top: 200px;
  z-index: 20;
}

.close-form {
  animation-name: myAnimation;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.close-main-container {
  animation-name: myAnimation;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.dropdown {
  width: 15rem;
  height: 30px;
  border: none;
  position: relative;
  border-radius: 0%;
}

.age-box {
  height: 30px;
  border: none;
}

.submit {
  border: none;
  background-color: white;
  height: 25px;
  width: 60px;
  border-radius: 5px;
}

.music-container {
  background-color: #edf7f6;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: absolute;
  transform: scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  top: 500px;
  margin: 100px 0;
  z-index: 10;
}

.open-music-container {
  visibility: visible;
  top: 200px;
  transform: scale(1);
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #edf7f6;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #edf7f6;
  border: 0;
  color: #a28089;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #a28089;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: #ffa8B6;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --container-height: 498px;
}

section {
  position: absolute;
  left: 100px;
  top: 300px;
  padding-right: 50px;
  z-index: 10;
  timeline-scope: --listTimeline;
}

.list {
  max-height: var(--container-height);
  list-style-type: none;
  width: 350px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-timeline: --listTimeline block;
  transform: scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-list {
  visibility: visible;
  top: 200px;
  transform: scale(1);
}

.animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-size: 50px 40px;
}

@supports (animation-timeline: scroll()) {
  .animation {
    animation: moveBackground alternate linear;
    animation-timeline: --listTimeline;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 calc(var(--container-height) / -1);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #edf7f6;
}

li {
  padding: 20px;
  border-top: 2px solid #ccc;
  scroll-snap-align: start;
}

li:first-child {
  border: 0;
}

/* Demo styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.animation {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Isolation_Mode' data-name='Isolation Mode' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 633.33 680'%3E%3Cpath fill='%2328AFB0' d='M383.33,500c27.61,0,50,22.39,50,50,0,25.99-19.83,47.35-45.18,49.77l-4.82,.23H50c-27.61,0-50-22.39-50-50,0-25.99,19.83-47.35,45.18-49.77l4.82-.23H383.33Zm200-166.67c27.61,0,50,22.39,50,50s-22.39,50-50,50H50c-27.61,0-50-22.39-50-50s22.39-50,50-50H583.33Zm-200-166.67c27.61,0,50,22.39,50,50,0,25.99-19.83,47.35-45.18,49.77l-4.82,.23H50c-27.61,0-50-22.39-50-50,0-25.99,19.83-47.35,45.18-49.77l4.82-.23H383.33ZM583.33,0c27.61,0,50,22.39,50,50,0,25.99-19.83,47.35-45.18,49.77l-4.82,.23H50C22.39,100,0,77.61,0,50,0,24.01,19.83,2.65,45.18,.23l4.82-.23H583.33Z'/%3E%3C/svg%3E");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #28afb0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19647e;
}

@media (max-width: 1325px) {
    .music-container {
      top: 125px;
      scale: 0.80;
      margin: 0;
    }

    section {
      scale: 0.90;
      position: relative;
      left: 0px;
      right: 0px;
      padding: 0;
      margin: 0;
      top: 200px;
    }

    .main-container {
      scale: 0.1;
      visibility: hidden;
    }
  }

.main-container {
  background-color: #85dfd6;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(160, 145, 145, 0.6);
  display: flex;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 100px;
  z-index: 1;
}